html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    min-width: 450px;
    min-height: 540px;
}

body {
    /*
        Many thanks for awesome pattern found at http://subtlepatterns.com/
        This patterns belongs to user Uday http://www.indexstudio.net/
    */
    background: url("../img/swirl_pattern.png") repeat;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
    height: 65px;
    margin: 0;
}

canvas {
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.copyrights {
    font-family: 'Gloria Hallelujah', Verdana cursive;
    font-size: 0.5em;
}